.mainBodyContainer {
  width: 100%;
  height: 40vh;
  padding-top: 30px;
  padding-left: 20%;
  padding-right: 20%;
  .body {
    width: 100%;
    height: 40vh;
  }
  .content {
    width: 100%;
    height: 300px;
  }
}
