
@import '../../../styles/colors';

.mainBody{
  width: 20em;
  height: 10em;
  margin: 5px;
  position: relative;
  .overlay {
    top: 0;
    left: 0;
    width: 20em;
    height: 10em;
    opacity: 0.9;
    padding: 1em;
    color: $white;
    background-color: $dark;
    .link-out {
      position: absolute;
      top: 10px;
      right: 10px;
      img { width: 15px }
    }
    .description {
      margin-top: 5px;
      font-size: 0.8em;
    }
    .red {
      height: 10px;
      background-color: red;
      width: 30px;
      bottom: 0;
      right: 0;
    }
    .tech {
      margin-top: 10px;
      img {
        width: 25px;
        margin-right: 5px;
      }
    }
    .action {
      bottom: 15px;
      right: 20px;
      position: absolute;
      font-size: .8em;
    }
  }
}

