
@import '../../../styles/colors';

.mainBody {
  width: 100%;
  height: 30vh;
  background-color: $dark;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  .mainTitle {
    height: 60px;
    letter-spacing: 4px;
  }
  .mainSubtitle {
    height: 50px;
  }
  .socMed {
    img {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
