@import '../../../styles/colors';

.mainBodyContainer {
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-top: 30px;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 50px;
  .body {
    width: 100%;
    .socials {
      margin-top: 10px;
      img {
        margin-left: 2px;
        margin-right: 2px;
      }
    }
  }
}


