.dot {
  position: relative;
  width: 100%;
  font-size: 5em;
  line-height: 1em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.dot2 {
  font-size: 3.5em;
  line-height: 1em;
}